<div class="admin-container">
  <div class="menu">
    <img src="https://cdn.tuyengiao.vn/uploads/2020/9/23/29/co-dong-co-dong-chinh-tri-va-co-dong-truc-quan.jpg?s=85_u1hcpky0"alt="logo">
    <ul>
      <li><a routerLink="/user" routerLinkActive="active">Tài khoản</a></li>
      <li><a routerLink="/appointment" routerLinkActive="active">Lịch hẹn</a></li>
      <li><a routerLink="/medical-record" routerLinkActive="active">Hồ sơ bệnh lí</a></li>
      <li><a routerLink="/history" routerLinkActive="active">Lịch sử khám</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
